.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Ensure relative positioning for the container */
}

.main_logo {
  width: 100px;
  height: 100px;
}
.main_logo img {
  width: 100%;
}

.language_bar {
  position: relative; /* Make this element the parent for the absolute child */
  display: flex;
  flex-direction: column;
}

.flag {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

/* Make the flag list absolute so it doesn't affect the layout */
.flag_list {
  position: absolute;
  top: 60px; /* Adjust to place it below the main flag */
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensures it's on top of other elements */
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.flag_list.show {
  opacity: 1;
  transform: scale(1);
}

.flag-animate {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.flag-animate:hover {
  transform: scale(1.1);
}
